<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppBanco" connectionString="Data Source = server123; Initial Catalog = dbLeilaoTeste; User Id = user123 ; Password = senha123; Min Pool Size = 20; Max Pool Size = 1024; Pooling = true; Connect Timeout = 10" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>